---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Prose from "../../components/Prose.astro";
const pageTitle = "About Me";

const identity = {
  firstName: "Erfi",
  country: "Singapore | Netherlands",
  occupation: "Solutions Engineer | Writer | Photographer",
  hobbies: ["photography", "powerlifting", "film", "music"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "Writing Docs",
  "Networking",
  "Dev Ops",
];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "camelcase";
---

<BaseLayout title={pageTitle}>
  <Prose>
    <h2>{pageTitle}</h2>

    <p>
      I am working through Astro's introductory tutorial. This is the second
      page on my website, and it's the first one I built myself!
    </p>

    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>

    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>
        I live in {identity.country}, and I work as a {identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are: {identity.hobbies[0]} and{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </Prose>
</BaseLayout>
