---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import ProseHeadings from "../../../components/Prose_headings.astro";
const allLongForm = await getCollection("long_form");
const tags = [...new Set(allLongForm.map((post) => post.data.tags).flat())];
const images = allLongForm.map((post) => post.data.image?.src);
const imageAlt = allLongForm.map((post) => post.data.image?.alt);
import GetRandomImage from "../../../components/getRandomImage.astro";
const pageTitle = "Tag Index";
---

<BaseLayout title={pageTitle}>
  <ProseHeadings>
    <div class="tags w-100 h-full flex items-center justify-center -mt-10 ">
      {
        tags.map((tag) => (
          <GetRandomImage
            images={JSON.stringify(images)}
            altText={imageAlt}
            tag={tag}
            url={`/long_form/tags/${tag}`}
          />
        ))
      }
    </div>
  </ProseHeadings>
</BaseLayout>
<style>
  a {
    color: #00539f;
    text-decoration: none;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
