---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import "@fontsource-variable/josefin-sans";
const allLongForm = await getCollection("long_form");
const tags = [...new Set(allLongForm.map((post) => post.data.tags).flat())];
const images = allLongForm.map((post) => post.data.image?.src);
const alt = allLongForm.map((post) => post.data.image?.alt);
import GetRandomImage from "../../../components/getRandomImage.astro";
const imagesByTag = allLongForm.reduce((acc, post) => {
  post.data.tags.forEach((tag) => {
    if (!acc[tag]) {
      acc[tag] = [];
    }
    acc[tag].push(post.data.image?.src);
  });
  return acc;
}, {});
const pageTitle = "Long Form Projects";
---

<BaseLayout title={pageTitle}>

  {
    tags.length === 1 ? (
      <div class="tags w-full h-full lg:h-[;;px] flex items-center justify-center font-josefin">
        <GetRandomImage
          images={JSON.stringify(imagesByTag[tags[0]])}
          alt={JSON.stringify(alt)}
          tag={tags[0]}
          url={`/long_form/tags/${tags[0]}`}
        />
      </div>
    ) : (
      <div class="grid grid-cols-4 gap-4 font-josefin">
        {
          tags.map((tag) => (
            <div class="col-span-1">
              <GetRandomImage
                images={JSON.stringify(imagesByTag[tag])}
                alt={JSON.stringify(alt)}
                tag={tag}
                url={`/long_form/tags/${tag}`}
              />
            </div>
          ))
        }
      </div>
    )
  }
</BaseLayout>
<style>
  a {
    color: #00539f;
    text-decoration: none;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
