---
import Homepage from "../components/Homepage.astro";
const { pageTitle } = Astro.props;
import { getCollection } from "astro:content";
const collections = ['long_form', 'short_form', 'muses', 'zeitweilig'];
import { getImage } from 'astro:assets'; // Add all your collections here
let allImages = [];
let allAlts = [];
let allUrls = [];
for (let collection of collections) {
 const allContent = await getCollection(collection);
 const postsWithImages = allContent.filter(post => post.data.image?.src && post.data.image?.alt);

 const imagePromises = postsWithImages.map(async post => {
   const imageAsset = await getImage({
     src: post.data.image.src,
     alt: post.data.image.alt,
     inferSize: true,
    //  width: "1920",
    //  height: "1080",
     decoding: "async",
     format: "avif",
     quality: "65"
   });

   return {
     imageSrc: imageAsset ? imageAsset.src : null,
     alt: post.data.image.alt,
     url: `/${collection}/${post.slug}`
   };
 });

 const results = await Promise.all(imagePromises);

 allImages.push(...results.map(result => result.imageSrc));
 allAlts.push(...results.map(result => result.alt));
 allUrls.push(...results.map(result => result.url));
}
---

{allImages.length > 0 ? <Homepage title={pageTitle} images={JSON.stringify(allImages)} alt={JSON.stringify(allAlts)} urls={JSON.stringify(allUrls)}  width="1920" height="1080" /> : <p>No images found</p>}