---
import { Image } from "astro:assets";

export interface Props {
  title: string;
  url: string;
  image: string;
  alt: string;
  description: string;
  pubDate: Date;
  positionx: string;
  positiony: string;
}

const { title, url, image, alt, description, pubDate, positionx, positiony } =
  Astro.props;
const publishedDate = new Date(pubDate).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<article
  class="flex flex-col sm:flex-row md:space-x-14 md:mb-20 sm:mb-14 gap-8 sm:justify-center md:mx-24"
>
  {
    image && (
      <div class="flex sm:w-1/3 md:h-[480px] h-[360px] fade-image rounded-lg">
        <a href={url} aria-label={`View full post: ${title}`}>
          <Image
            src={image}
            alt={alt}
            inferSize={true}
            decoding="async"
            format="avif"
            quality={65}
            class="h-full object-cover object-center post-image"
            style={`--position-x: ${positionx}; --position-y: ${positiony}; height: 100%`}
          />
        </a>
      </div>
    )
  }
  <div class="sm:w-2/3 flex flex-col justify-start space-y-4 mb-6 md:mt-10">
    <header>
      <h2 class="font-overpass-mono font-bold text-2xl xl:text-4xl uppercase">
        <a href={url} class="title-link">{title}</a>
      </h2>
      <time
        datetime={pubDate.toISOString()}
        class="font-inconsolata text-md text-gray-600 dark:text-gray-400"
      >
        Published on {publishedDate}
      </time>
    </header>
    <p class="font-inconsolata normal-case line-clamp-3 text-base">
      {description}
    </p>
    <a
      href={url}
      class="dark:prose-invert max-w-max max-h-max flex flex-row shrink-0 group"
      aria-label={`Read more about ${title}`}
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 md:mt-10 mt-4 mb-4 bounce group-hover:animate-bounce"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"></path>
      </svg>
    </a>
    <slot />
  </div>
</article>

<style>
  .post-image {
    object-position: var(--position-x, 45%) var(--position-y, 50%);
  }
  @media (min-width: 800px) {
    .post-image {
      object-position: var(--position-x, 30%) var(--position-y, 50%);
    }
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(10px);
    }
    60% {
      transform: translateX(5px);
    }
  }

  .group:hover .bounce {
    animation: bounce 2s infinite;
  }
  .fade-image {
    transition: opacity 0.5s ease-in-out;
  }

  .fade-image:hover {
    opacity: 0.8;
  }

  .title-link {
    transition: opacity 0.3s ease-in-out;
  }

  .title-link:hover {
    opacity: 0.7;
  }
</style>
