---
import BaseLayout from "../layouts/BaseLayout.astro";

export interface Props {
  title: string;
  images: string;
  alt: string;
  urls: string;
  width: Record<string, number>;
  height: Record<string, number>;
}

const { title, images, alt, urls, width, height } = Astro.props;
---

<BaseLayout title={title} is404Page={false}>
  <div
    id="homepage"
    class="flex justify-center items-center"
    data-images={images}
    data-alt={alt}
    data-urls={urls}
    data-width={JSON.stringify(width)}
    data-height={JSON.stringify(height)}
  >
    <a href="#">
      <picture>
        <source media="(min-width: 1280px)" data-srcset-large />
        <source media="(min-width: 768px)" data-srcset-medium />
        <img
          id="randomHomePageImage"
          class="hidden h-[440px] sm:h-[600px] lg:h-[700px] xl:h-[1000px] object-contain w-full object-center"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
          alt="Loading image"
          data-srcset-small
        />
      </picture>
    </a>
    <noscript>
      <p class="text-center font-overpass-mono">JavaScript is required to display the homepage image.</p>
    </noscript>
    <slot />
  </div>
</BaseLayout>
<script src="../scripts/homePage.ts"></script>
