---
import BaseLayout from "../layouts/BaseLayout.astro";

export interface Props {
  title: string;
  images: string;
}

const { title, images } = Astro.props;
const imageList = JSON.parse(images);
const hero = imageList[0];
---

<BaseLayout title={title} is404Page={false}>
  <div
    id="homepage"
    class="flex justify-center items-center"
  >
    <a href={hero.url}>
      <img
        class="h-[440px] sm:h-[600px] lg:h-[700px] xl:h-[1000px] object-contain w-full object-center"
        src={hero.src}
        srcset={hero.srcset}
        sizes="100vw"
        alt={hero.alt}
      />
    </a>
  </div>
</BaseLayout>