---
import "../styles/MasonryLayout.css";
import { getImage } from 'astro:assets';
const { images } = Astro.props;
const imageAssets = await Promise.all(images.map(async (image) => {
  if (image) {
    return await getImage({
      src: image.src,
      alt: image.alt,
      width: "2560",
      height: "1440",
      decoding: "async",
      format: "avif",
    });
  }
  return null;
}));
console.log(imageAssets)
---

<div class="masonry">
  {
    imageAssets.map((imageAsset, index) => (
      imageAsset ? (
        <div key={index} class="image-container" id="gallery">
          <a href={imageAsset.src} class="image-link glightbox">
            <img
              src={imageAsset.src}
              alt={imageAsset.attributes.alt}
              loading={imageAsset.attributes.loading}
              decoding={imageAsset.attributes.decoding}
              class="image"
            />
          </a>
        </div>
      ) : null
    ))
  }
</div>
<script src="../scripts/lightbox.js"></script>