---
import "../styles/MasonryLayout.css";
import { Picture } from "astro:assets";
const { images } = Astro.props;
---

<div class="masonry not-prose">
  {
    images.map((image, index) =>
      image ? (
        <div key={index} class="image-container" id="gallery">
          <a href={image.src} class="image-link glightbox">
            <Picture
              src={image.src}
              alt={image.alt}
              widths={[800, 1600, 3840]}
              sizes="(max-width: 640px) 100vw, (max-width: 1024px) 50vw, 33vw"
              formats={["avif", "webp"]}
              loading="lazy"
              decoding="async"
              quality={100}
              inferSize={true}
              class="image"
            />
          </a>
        </div>
      ) : null,
    )
  }
</div>
<script src="../scripts/lightbox.js"></script>
