---
import "../styles/MasonryLayout.css";
import { getImage } from "astro:assets";

export interface Props {
  images: Array<{ src: string; alt: string } | null>;
}

const { images } = Astro.props;
const imageAssets = await Promise.all(
  images.map(async (image) => {
    if (image) {
      return await getImage({
        src: image.src,
        alt: image.alt,
        width: 3840,
        height: 2160,
        decoding: "async",
        format: "avif",
        loading: "lazy",
      });
    }
    return null;
  }),
);
---

<div class="masonry not-prose">
  {
    imageAssets.map((imageAsset, index) =>
      imageAsset ? (
        <div key={index} class="image-container" id="gallery">
          <a href={imageAsset.src} class="image-link glightbox">
            <img
              src={imageAsset.src}
              alt={imageAsset.attributes.alt}
              loading={imageAsset.attributes.loading}
              decoding={imageAsset.attributes.decoding}
              width={imageAsset.attributes.width}
              height={imageAsset.attributes.height}
              class="image"
            />
          </a>
        </div>
      ) : null,
    )
  }
</div>
<script src="../scripts/lightbox.ts"></script>
