---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '@fontsource-variable/overpass-mono';
import '@fontsource-variable/inconsolata';
import { getImage } from 'astro:assets';
let baseUrl = new URL(Astro.request.url).origin;
const metaImage = await getImage({
  src: "https://cdn.erfianugrah.com/Tenhult_3.JPG",
  alt: "cover_image",
  // inferSize: true,
  width: "1280",
  height: "720",
  decoding: "async",
  format: "webp",
  loading: "lazy"
});

const favicon_webp = await getImage({
  src: "https://cdn.erfianugrah.com/ea_favicon.png",
  alt: "favicon",
  // inferSize: true,
  width: "400",
  height: "400",
  decoding: "async",
  format: "webp",
  loading: "lazy"
});

const pageTitle = "stoicopa";
const metaDescription =
  "My personal hamster wheel.";
const { image, description, author, pubDate, updatedDate, title, site_name, alt, is404Page = false } =
  Astro.props;
---

<html class="bg-[rgb(245,245,245)] dark:bg-[rgb(34,33,37)]" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/webp" href={favicon_webp.src} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={ Astro.generator } />
    <meta name="og:title" content={ title || pageTitle } />
    <meta name="og:description" content={ description || metaDescription } />
    <meta name="description" content={ description || metaDescription } />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={ site_name || "stoicopa" } />
    <meta name="og:image" content={ image || `${baseUrl}${metaImage?.src}` } />
    <meta name="article:author" content={ author || "Erfi Anugrah" } />
    <meta name="article:published_time" content={ pubDate } />
    <meta name="article:modified_time" content={ updatedDate } />
    <meta name="og:url" content={ Astro.url } />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={ Astro.site } />
    <meta property="twitter:url" content={ Astro.url } />
    <meta name="twitter:card" content={ image || `${baseUrl}${metaImage?.src}` } />
    <meta name="twitter:title" content={ title || pageTitle } />
    <meta name="twitter:description" content={ description || metaDescription } />
    <meta name="twitter:image" content={ image || `${baseUrl}${metaImage?.src}` }/>
    <title>{ pageTitle } </title>
    <ViewTransitions />
  </head>
  <body
    class="flex flex-col flex-wrap justify-between md:pt-8 md:pr-16 md:pb-8 md:pl-16 p-8 max-w-full min-h-screen dark:bg-[rgb(34,33,37)] dark:text-[rgb(245,245,245)]"
  >
    <Header is404Page={is404Page}/>
    <slot />
    <Footer />
  </body>
</html>
