---
import BaseLayout from "./BaseLayout.astro";
// import { fade } from "astro:transitions";
import Prose from "../components/Prose.astro";
import ProseHeadings from "../components/Prose_headings.astro";
const { frontmatter } = Astro.props;
const updatedDate = frontmatter?.updatedDate
  .toDateString()
  .split(" ")
  .slice(1)
  .join(" ");
const publishedDate = frontmatter?.pubDate
  .toDateString()
  .split(" ")
  .slice(1)
  .join(" ");
const title = frontmatter?.title;
const description = frontmatter?.description;
const author = frontmatter?.author;
const image = frontmatter.image?.src;
const minutesRead = frontmatter.minutesRead;
---

<BaseLayout
  title={title}
  image={image}
  description={description}
  author={author}
  pubDate={updatedDate}
  updatedDate={publishedDate}
>
  <Prose>
<div class="hero-image bg-fixed bg-center bg-no-repeat bg-cover flex flex-col justify-center items-center text-white text-center h-[700px]" style={`background-image: url(${image});`}>

      <h1
        class="prose prose-slate dark:prose-invert uppercase font-josefin text-2xl"
      >
        {title}
      </h1>
      <div class="tags flex gap-2 mt-2">
        {
          frontmatter.tags.map((tag) => (
            <p class="tag bg-white bg-opacity-50 px-2 py-1 rounded">
              <a class="text-blue-500 no-underline" href={`../tags/${tag}`}>
                {tag}
              </a>
            </p>
          ))
        }
      </div>
      <!-- <p transition:animate={fade({ duration: '0.5s' })}><em>{frontmatter.description}</em></p> -->
    </div>
    <slot />
    <div class="flex flex-col sm:flex-row">
      <div class="lg:w-1/2">
        <p>-- <a href="/about/"> {author}</a></p>
      </div>
      <div class="lg:w-1/2">
        <ul class="list-none text-right sm:align-left">
          <li>
            Published: {publishedDate}
          </li>
          <li>
            Updated: {updatedDate}
          </li>
        </ul>
      </div>
    </div>
  </Prose>
</BaseLayout>
<script src="../scripts/fslightbox.js"></script>
