---
import BaseLayout from "./BaseLayout.astro";
// import { fade } from "astro:transitions";
import Prose from "../components/Prose.astro";
import ProseHeadings from "../components/Prose_headings.astro";
const { frontmatter } = Astro.props;
const updatedDate = frontmatter?.updatedDate
  .toDateString()
  .split(" ")
  .slice(1)
  .join(" ");
const publishedDate = frontmatter?.pubDate
  .toDateString()
  .split(" ")
  .slice(1)
  .join(" ");
const title = frontmatter?.title
const description = frontmatter?.description
const author = frontmatter?.author
const image = frontmatter.image?.src
---

<BaseLayout title={title} image={image} description={description} author={author} pubDate={updatedDate} updatedDate={publishedDate}>
  <Prose>
    <ProseHeadings>
      <h1>{title}</h1>
      <div class="tags">
        {
          frontmatter.tags.map((tag) => (
            <p class="tag">
              <a href={`../tags/${tag}`}>{tag}</a>
            </p>
          ))
        }
      </div>
      <!-- <p transition:animate={fade({ duration: '0.5s' })}><em>{frontmatter.description}</em></p> -->
    </ProseHeadings>
    <slot />
    <div class="flex flex-col sm:flex-row">
      <div class="lg:w-1/2">
        <p>-- <a href="/about/"> {author}</a></p>
      </div>
      <div class="lg:w-1/2">
        <ul class="list-none text-right sm:align-left">
          <li>
            Published: {publishedDate}
          </li>
          <li>
            Updated: {updatedDate}
          </li>
        </ul>
      </div>
    </div>
  </Prose>
</BaseLayout>
<style>
  a {
    color: #00539f;
    text-decoration: none;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
<script src="../scripts/fslightbox.js"></script>
