---
import BaseLayout from "./BaseLayout.astro";
// import { fade } from "astro:transitions";
import Prose from "../components/Prose.astro";
const { frontmatter } = Astro.props;
const updatedDate = frontmatter?.updatedDate
  .toDateString()
  .split(" ")
  .slice(1)
  .join(" ");
const publishedDate = frontmatter?.pubDate
  .toDateString()
  .split(" ")
  .slice(1)
  .join(" ");
const title = frontmatter?.title;
const description = frontmatter?.description;
// const author = frontmatter?.author.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
const author = frontmatter?.author;
const image = frontmatter.image?.src;
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);

const lastModified = dayjs()
  .utc(Astro.props.frontmatter.lastModified)
  .format("MMM DD YYYY");
---

<BaseLayout
  title={title}
  image={image}
  description={description}
  author={author}
  pubDate={updatedDate}
  updatedDate={publishedDate}
>
  {
    image ? (
      <div
        class="bg-fixed bg-center-33 bg-cover bg-no-repeat flex flex-col justify-center items-center text-center h-[450px] sm:h-[500px] md:h-[600px] lg:h-[800px] xl:h-[1080px] mb-8 lg:-mx-16 -mx-8"
        style={`background-image: url(${image}); background-position: 30% 50%;`}
      >
        <h1 class="prose prose-slate uppercase font-josefin text-[rgb(245,245,245)] text-4xl">
          {title}
        </h1>
        <div class="flex gap-2 mt-2">
          {frontmatter.tags.map((tag) => (
            <p class="bg-slate-600 text-[rgb(245,245,245)] bg-opacity-50 px-2 py-1 rounded font-josefin text-xl">
              <a class="no-underline font-josefin" href={`../tags/${tag}`}>
                {tag}
              </a>
            </p>
          ))}
        </div>
      </div>
    ) : (
      <Prose>
        <h1 class="normal-case font-josefin text-4xl -mb-1">
          {title}
        </h1>
        <div class="flex">
          {frontmatter.tags.map((tag) => (
            <p class="bg-slate-600 bg-opacity-50 px-2 py-1 rounded">
              <a
                class="no-underline font-josefin text-[rgb(245,245,245)] text-xl"
                href={`../tags/${tag}`}
              >
                {tag}
              </a>
            </p>
          ))}
        </div>
        <slot />
      </Prose>
    )
  }
  <Prose>
    <slot />
    <div class="flex flex-col sm:flex-row align-center">
      <div class="w-full flex-col sm:w-1/2 text-center sm:text-left">
        <p>-- <a href="/about/" class="no-underline font-jost"> {author}</a></p>
      </div>
      <div class="w-full flex-col sm:w-1/2 text-left sm:text-right mt-[10px] font-jost">
        <div>
          Published: {publishedDate}
        </div>
        <div>
          Updated: {updatedDate}
        </div>
      </div>
    </div>
  </Prose>
</BaseLayout>
<script src="../scripts/fslightbox.js"></script>
<!-- <p transition:animate={fade({ duration: '0.5s' })}><em>{frontmatter.description}</em></p> -->
