---
import BaseLayout from "./BaseLayout.astro";
// import { fade } from "astro:transitions";
import Prose from "../components/Prose.astro";
import "@fontsource-variable/josefin-sans";
const { frontmatter } = Astro.props;
const updatedDate = frontmatter?.updatedDate
  .toDateString()
  .split(" ")
  .slice(1)
  .join(" ");
const publishedDate = frontmatter?.pubDate
  .toDateString()
  .split(" ")
  .slice(1)
  .join(" ");
const title = frontmatter?.title;
const description = frontmatter?.description;
// const author = frontmatter?.author.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
const author = frontmatter?.author;
const image = frontmatter.image?.src;
---

<BaseLayout
  title={title}
  image={image}
  description={description}
  author={author}
  pubDate={updatedDate}
  updatedDate={publishedDate}
>
  {
    image ? (
      <div
        class="bg-fixed bg-center-33 bg-cover bg-no-repeat flex flex-col justify-center items-center text-center h-[450px] sm:h-[500px] md:h-[600px] lg:h-[800px] xl:h-[800px] mb-8 lg:-mx-16 -mx-8"
        style={`background-image: url(${image}); background-position: 40% 30%;`}>
        <h1 class="prose prose-slate uppercase font-josefin text-white text-4xl">
          {title}
        </h1>
        <div class="flex gap-2 mt-2">
          {frontmatter.tags.map((tag) => (
            <p class="bg-white bg-opacity-50 px-2 py-1 rounded font-josefin">
              <a
                class="text-blue-800 no-underline font-josefin"
                href={`../tags/${tag}`}>
                {tag}
              </a>
            </p>
          ))}
        </div>
      </div>
    ) : (
      <Prose>
        <h1 class="prose prose-slate dark:prose-invert normal-case font-josefin -mb-1">
          {title}
        </h1>
        <div class="flex">
          {frontmatter.tags.map((tag) => (
            <p class="bg-white bg-opacity-50 px-2 py-1 rounded font-josefin">
              <a
                class="text-blue-800 no-underline font-josefin"
                href={`../tags/${tag}`}>
                {tag}
              </a>
            </p>
          ))}
        </div>
      </Prose>
    )
  }
  <Prose>
    <slot />
    <div class="flex flex-col sm:flex-row">
      <div class="lg:w-1/2">
        <p>-- <a href="/about/"> {author}</a></p>
      </div>
      <div class="lg:w-1/2">
        <ul class="list-none text-right sm:align-left">
          <li>
            Published: {publishedDate}
          </li>
          <li>
            Updated: {updatedDate}
          </li>
        </ul>
      </div>
    </div>
  </Prose>
</BaseLayout>
<script src="../scripts/fslightbox.js" ></script>
<!-- <p transition:animate={fade({ duration: '0.5s' })}><em>{frontmatter.description}</em></p> -->
