---
import BaseLayout from "./BaseLayout.astro";
import "../styles/glightbox.css";
import Prose from "../components/Prose.astro";
import { getImage } from "astro:assets";
const { frontmatter } = Astro.props;
const updatedDate = frontmatter?.updatedDate
  .toDateString()
  .split(" ")
  .slice(1)
  .join(" ");
const publishedDate = frontmatter?.pubDate
  .toDateString()
  .split(" ")
  .slice(1)
  .join(" ");
const title = frontmatter?.title;
const description = frontmatter?.description;
// const author = frontmatter?.author.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
const authorFullName  = frontmatter?.author;
const author = authorFullName.split(' ')[0].toLowerCase();
const image = frontmatter.image?.src;
const alt = frontmatter.image?.alt;

let baseUrl = new URL(Astro.request.url).origin;

const backgroundImage = image ? await getImage({
  src: image,
  alt: alt,
  width: "2560",
  height: "1440",
  decoding: "async",
  format: "avif",
  quality: "mid"
}) : null;

const metaImage = image ? await getImage({
  src: image,
  alt: alt,
  width: "1280",
  height: "720",
  decoding: "async",
  format: "webp"
}) : null;
---

<BaseLayout
  title={title}
  image={image ? `${baseUrl}${metaImage?.src}` : ''}
  alt={alt ? metaImage?.attributes.alt : ''}
  description={description}
  author={author}
  pubDate={updatedDate}
  updatedDate={publishedDate}
>
  {
    image ? (
      <div
        id="backgroundImageElement"
        class="bg-fixed bg-center-33 bg-cover bg-no-repeat flex flex-col justify-center items-center text-center h-screen mb-8 md:-mx-16 -mx-8"
        style={`background-image: url(${backgroundImage.src});
                background-position: 45% 50%;
                @media (min-width: 800px) { background-position: 30% 50%; }
              `}
        data-pagefind-body
      >
        <h1 class="prose prose-slate uppercase font-overpass-mono text-[rgb(245,245,245)] text-4xl">
          {title}
        </h1>
        <div class="flex gap-2 mt-2">
          {frontmatter.tags.map((tag) => (
            <p class="font-overpass-mono text-xl">
              <a
                class="bg-slate-600 text-[rgb(245,245,245)] bg-opacity-50 px-2 py-1 rounded"
                href={`../tags/${tag}`}
              >
                {tag}
              </a>
            </p>
          ))}
        </div>
      </div>
    ) : (
      <div data-pagefind-body>
        <Prose>
        <h1 class="normal-case font-overpass-mono text-4xl -mb-1 mt-4">{title}</h1>
        <div class="flex">
          {frontmatter.tags.map((tag) => (
            <p class="font-overpass-mono text-xl">
              <a
                class="bg-slate-600 text-[rgb(245,245,245)] bg-opacity-50 px-2 py-1 rounded no-underline"
                href={`../tags/${tag}`}
              >
                {tag}
              </a>
            </p>
          ))}
        </div>
      </Prose>
      </div>
    )
  }
  <div data-pagefind-body>
  <Prose>
    <slot />
    <div class="flex flex-col sm:flex-row align-center">
      <div class="w-full flex-col sm:w-1/2 text-center sm:text-left">
        <p>
          -- <a href={`/authors/${author}`} class="no-underline font-inconsolata"> {authorFullName}</a>
        </p>
      </div>
      <div
        class="w-full flex-col sm:w-1/2 text-left sm:text-right mt-[10px] font-inconsolata"
      >
        <div>
          Published: {publishedDate}
        </div>
        <div>
          Updated: {updatedDate}
        </div>
      </div>
    </div>
  </Prose>
  </div>
</BaseLayout>
