---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer_2 from "../components/Footer_2.astro";
// import "../styles/global.css";
const { image, description, author, pubDate, updatedDate, title, url } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/actualfavicon_o.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:image" content={image} />
    <meta name="article:author" content={author} />
    <meta name="article:published_time" content={pubDate} />
    <meta name="article:modified_time" content={updatedDate} />
    <meta name="og:url" content={url} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:card" content={image} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <ViewTransitions />
  </head>
  <body
    class="m-0 auto w-screen p-8 leading-6 min-h-screen flex flex-col lg:pt-8 lg:pr-16 lg:pb-8 lg:pl-16"
  >
    <Header />
    <h1 transition:animate="slide">{title}</h1>
    <slot />
    <Footer_2 />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
<style>
  html.dark {
  background-color: rgb(34, 33, 37);
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

/* body {
  margin: 0 auto;
  width: 100vw;
  padding: 2rem 2rem 2rem 2rem;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
</style>